#AUTH
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URL=http://localhost:8000/v1/auth/callback/google
PORT=8001
CLIENT_APP_URL=http://localhost:5173


VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
AUTH_SECRET="super-secret"
DATABASE_URL=
REDIS_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
