PORT=8000
CLIENT_APP_URL=http://localhost:5173
AUTH_SECRET=super-secret
DATABASE_URL=postgres://postgres:password@localhost:5555/thread?sslmode=disable
REDIS_URL=redis://localhost:6333
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
CHAT_SERVER_TOKEN=
